html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
.orange--colour{
    color: orange
}
.gradient--background{
    background-image: linear-gradient(to right,orange,rgb(233, 48, 48));
}
header{
    height: 60px;
    background-color: #FEF3EC;
}
.header{
    margin: 0 auto;
    padding: 18px 30px;
    text-align: right;
}
.header__nav_item{
    list-style: none;
    display: inline-block;
}
.header__nav_item a{
    margin-right:  50px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.container{
    padding: 80px 120px; 
}
.container--background{
    background-image: url("../images/shapes/7.png");
    background-repeat: no-repeat;
    background-position: cover;
}
.container--text-center{
    text-align: center;
}
.container--padding-top-0{
    padding-top: 0;
}
.container__info{
    width: 50%;
    padding-top: 3rem;
}
.heading_primary{
    font-size: 3rem;
    font-weight: 800;
}
.heading_secondary{
    font-size: 2rem;
    font-weight: 800;
}
.heading_secondary--gray{
    color: gray;
}
.heading_3rd{
    font-size: 1.5rem;
    font-weight: 800;
}
.paragraph_primary{
    font-size: 1rem;
    margin-bottom: 2.6rem;
    color: gray;
}
.paragraph_secondary{
    font-size: .8rem;
}
.paragraph_secondary--white{
    color: white;
}
.container__btn{
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    border-radius: 30px;
}
.container__img{
    width: 50%;
}
.container__img--end{
    text-align: end;
}
.container__img img{
    width: 80%;
}
#small_image{
    width: 64%;
}
.card{
    padding: 20px;
    padding-bottom: 0;
    margin: 10px;
    box-shadow: 0px 0px 20px lightgray;
    border-radius: 20px;
}
.card__img{
    width: 100%;
}
.subscriptions{
    padding: 20px;
    margin: 60px 10px 0px;
    box-shadow: 0px 0px 20px lightgray;
    border-radius: 20px;
    justify-content: space-around;
}

.footer{
    padding: 30px 10px;
    background-color: black;
}
